<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
   
  </connectionStrings>
  <appSettings>
    <add key="AccessKey" value="123" />
    <!--<add key="ClientId" value="66380C76-F2A0-4E41-9E00-481938E8FAF9" />-->
    <add key="ClientSecret" value="E431AEC2-058D-4C62-9FAA-0A99E36AD169" />
    <add key="TokenkUrl" value="https://portal.tiqri.com/Account/token" />
    <add key="VerifyRequest" value="https://portal.tiqri.com/Account/VerifyRequest" />
    <!--<add key="DefaultUrl" value="http://tiqriacademy.azurewebsites.net" />-->
    
    <!--<add key="DefaultUrl" value="https://tiqriassets-prod.azurewebsites.net/" />-->
    <!--<add key="DefaultUrl" value="https://assets-dev.tiqri.com/" />-->
    <add key="DefaultUrl" value="https://localhost:44323/" />
    
    <add key="ClientId" value="aac9334c-e00f-4cfd-97d1-0e9eccde1517" />
    <add key="Tenant" value="77ab64d0-48c5-4723-9a64-eb43ae84e773" />
    <!--<add key="redirectUri" value="https://assets-dev.tiqri.com/" />-->
    <add key="redirectUri" value="https://localhost:44323/" />
    
    <!--<add key="postLogoutRedirectUri" value="https://portal-dev.tiqri.com/" />-->
    <add key="postLogoutRedirectUri" value="https://localhost:44323/" />
    <!-- hrweb website urls -->
    <add key="LoginCoockieName" value=".exile_academy_cookie" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="AuthUrl" value="https://portal-dev.tiqri.com/Account/auth?" />
    <!--<add key="CallBackUrl" value="https://its-prod.azurewebsites.net/Home/CallBack" />-->
    <add key="CallBackUrl" value="http://assets-dev.tiqri.com/Home/CallBack" />
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="SignoutRedirecturl" value="https://portal-dev.tiqri.com/Account/Login" />
    <add key="PBIAuthorityUrl" value="https://login.windows.net/common/oauth2/authorize/" />
    <add key="PBIResourceUrl" value="https://analysis.windows.net/powerbi/api" />
    <add key="PBIapiUrl" value="https://api.powerbi.com/" />
    <add key="PBIClientID" value="c0d8dacf-4489-484b-8924-953358d06da7" />
    <add key="PBIWorkspaceID" value="08eefe51-9bbf-4df3-94fc-2da018cff7dc" />
    <add key="PBIUsername" value="web@tiqri.com" />
    <add key="PBIPassword" value="M20iKu@zTw5Tm" />
    <add key="PBIReportID1" value="2e182cd5-9a3f-4b98-a0e1-ec8dbc4e93d7" />
    <add key="FromAccount" value="web@tiqri.com" />
    <add key="FromName" value="TIQRI IOT" />
    <add key="FromPassword" value="M20iKu@zTw5Tm" />
  </appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <roleManager enabled="true">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider"
          connectionStringName="DefaultConnection"
          applicationName="/"
          type="System.Web.Security.SqlRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </providers>
    </roleManager>
    <customErrors mode="RemoteOnly" defaultRedirect="~/Error/ViewError">
    </customErrors>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthenticationModule" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>