@{
    Layout = null;
}
<script src="~/Scripts/Forms/myTrainings_frm.js"></script>
<div class="container-fluid">
    <div class="side-body">
        <div class="row">
            <div class="col-xs-12">

                <div class="card">
                    <div class="card-header">
                        <div class="card-title">
                            <div class="title">
                                My Trainings
                            </div>
                            <div class="description">
                                Please use search to find specific results
                            </div>
                        </div>
                        <div class="pull-right card-action form-top-button-margin">

                        </div>
                    </div>

                    <div class="card-body form-horizontal">
                        <div class="row">
                            <div id="Div_PageInner_SearchPanel" class="col-sm-4 main-search-panel">
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <input type="text" id="TextBox_Course_SearchBox" onkeyup="MyTrainingManagement.FindCourses();"
                                               placeholder="What do you want to find ?" class="form-control main-search-box"></input>
                                    </div>
                                </div>
                                <div class="form-group div-search-results" id="DIV_CourseManagementList">
                                    <table class="clearTable" style="margin-top: 20px;">
                                        <tr>
                                            <td style="padding-left: 20px; width: 20px;">
                                                <div class="icon-spinner icon-2x icon-spin"></div>
                                            </td>
                                            <td style="padding-left: 10px;">Loading courses. Please wait…</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="col-sm-8" id="DIV_PageInner_OperationDetails">

                                <div class="select-message">
                                    <img src="../../Content/img/information.png" /><br />
                                    Please select a Course to continue
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div id="DIV_BatchManagementLoadingMessage" style="display: none;">
    <table class="clearTable" style="margin-top: 20px;">
        <tr>
            <td style="padding-left: 20px; width: 20px;">
                <div class="icon-spinner icon-2x icon-spin"></div>
            </td>
            <td style="padding-left: 10px;">Loading courses. Please wait…</td>
        </tr>
    </table>
</div>

<script>
    $(document).ready(function () {
        MyTrainingManagement.SearchCourses();
    });

    $('#DIV_PageInner_OperationDetails').bind('heightChange', function () {
    });
</script>