<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Exilesoft Academy</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />

    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
    <!-- CSS Libs -->
    <link rel="stylesheet" type="text/css" href="~/Content/lib/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/lib/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/lib/css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/lib/css/bootstrap-switch.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/lib/css/checkbox3.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/lib/css/dataTables.bootstrap.css">
    <link rel="stylesheet" type="text/css" href="~/Content/lib/css/select2.min.css">
    <!-- CSS App -->
    <link rel="stylesheet" type="text/css" href="~/Content/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/themes/flat-green.css">
    <link href="~/Content/css/jquery.dataTables.css" rel="stylesheet" />
    <link href="~/Content/fullcalendar.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />

    <link href="~/Content/css/tagselectstyle.css" rel="stylesheet" />
</head>
<body class="flat-green landing-body">
    <form id="form1" runat="server">
        <div class="app-container">
            <div class="row content-container">
                <nav class="navbar navbar-default navbar-fixed-top navbar-top">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-expand-toggle">
                                <i class="fa fa-bars icon"></i>
                            </button>
                            <ol class="breadcrumb navbar-breadcrumb">
                                <li id="ModuleTitleContent">
                                    Employee
                                </li>
                                <li class="active" id="FormTitleContent">
                                    Dashboard
                                </li>
                            </ol>
                            <button type="button" class="navbar-right-expand-toggle pull-right visible-xs">
                                <i class="fa fa-th icon"></i>
                            </button>
                        </div>
                        <ul class="nav navbar-nav navbar-right">
                            <button type="button" class="navbar-right-expand-toggle pull-right visible-xs">
                                <i class="fa fa-times icon"></i>
                            </button>
                            
                            <li class="dropdown profile" onclick="NavigationManager.LoadHome();">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-home"></i> Home
                                </a>

                            </li>

                            <li class="dropdown profile">
                                <a href="~/Home/LogOut" class="dropdown-toggle">
                                    <asp:Label runat="server" ID="Label_Master_Name_MainNav"></asp:Label>
                                    <i class="fa fa-sign-out"></i> Logout
                                </a>
                               
                            </li>
                        </ul>
                    </div>
                </nav>

                <div class="side-menu sidebar-inverse">
                    <nav class="navbar navbar-default" role="navigation">
                        <div class="side-menu-container">
                            <div class="navbar-header">
                                <a class="navbar-brand" href="#">
                                    <div style="display: inline-block">
                                        <img class="hedder-logo-light-compact" src="../../Content/img/logo.png" />
                                    </div>
                                    <div class="title" style="display: inline-block">
                                        <img src="../../Content/img/top_logo.png" class="hedder-logo-light" />
                                    </div>
                                </a>
                                <button type="button" class="navbar-expand-toggle pull-right visible-xs">
                                    <i class="fa fa-times icon"></i>
                                </button>
                            </div>
                            <ul class="nav navbar-nav">
                                <li id="menu_lvl1_dashboard" class="active navigation-item" onclick="NavigationManager.LoadEmployeeDashboard();">
                                    <a href="javascript:return false;">
                                        <span class="icon fa fa-tachometer"></span><span class="title">Dashboard</span>
                                    </a>
                                </li>
                                <li id="menu_lvl1_courses" class="navigation-item" onclick="NavigationManager.LoadMyCourse();">
                                    <a href="javascript:return false;">
                                        <span class="icon fa fa-graduation-cap"></span><span class="title">My Courses</span>
                                    </a>
                                </li>
                                <li id="menu_lvl1_courses" class="navigation-item" onclick="NavigationManager.LoadMyTraining();">
                                    <a href="javascript:return false;">
                                        <span class="icon fa fa-book"></span><span class="title">My Trainings</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- /.navbar-collapse -->
                    </nav>
                </div>

                <!-- Main Content -->
                @RenderBody()
                <footer class="app-footer">
                    <div class="wrapper">
                        <span class="pull-right">2.1 <a href="#"><i class="fa fa-long-arrow-up"></i></a></span>© 2015 Copyright Exilesoft.
                    </div>
                </footer>
            </div>
        </div>
    </form>
    <div id="DIV_InnerPageContent_Loading">
        <div style="position: relative;top:150px; width: 200px; left: 50%; margin-left: -100px; text-align: center; padding-bottom: 150px">
            <img src="~/Content/img/loder_wait.gif" />
            Loading. Please wait.
        </div>
    </div>

    <div id="SystemMainAzyncLoadingDiv">
        <img src="~/Content/images/azync_updt.gif" style="position: absolute; top: 7px; left: 7px;" />
        Update in progress. Please wait…
    </div>

    <div id="PageInnerSubFormContent" style="display: none;">
        <div class="select-message">
            <img src="../../Content/img/information.png" /><br />
            Please select to Edit Or Add New
        </div>

    </div>


</body>


<script type="text/javascript" src="~/Content/lib/js/jquery.min.js"></script>
<script type="text/javascript" src="~/Content/lib/js/bootstrap.min.js"></script>
<script type="text/javascript" src="~/Content/lib/js/Chart.min.js"></script>
<script type="text/javascript" src="~/Content/lib/js/bootstrap-switch.min.js"></script>

<script type="text/javascript" src="~/Content/lib/js/jquery.matchHeight-min.js"></script>
<script type="text/javascript" src="~/Content/lib/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="~/Content/lib/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="~/Content/lib/js/select2.full.min.js"></script>
<script type="text/javascript" src="~/Content/lib/js/ace/ace.js"></script>
<script type="text/javascript" src="~/Content/lib/js/ace/mode-html.js"></script>
<script type="text/javascript" src="~/Content/lib/js/ace/theme-github.js"></script>
<script type="text/javascript" src="~/Content/js/app.js"></script>
<script src="~/Scripts/jquery.dataTables.js"></script>
<script src="~/Scripts/selectize.min.js"></script>
<script src="~/Scripts/moment.min.js"></script>
<script src="~/Scripts/moment.min.js"></script>
<script src="~/Scripts/fullcalendar.min.js"></script>

<script src="~/Scripts/common.js"></script>
<script src="~/Scripts/azync_helper.js"></script>
<script src="~/Scripts/delay_callprovider.js"></script>
<script src="~/Scripts/NavigationManager.js"></script>

    <script>
        
        $(document).ready(function () {
            NavigationManager.LoadEmployeeDashboard();
        });
    </script>
</html>
