@{
    ViewBag.Title = "AdminHome";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<input type="hidden" id="System_Logged_UserName" value="@Session["UserName"]" />

<div id="DIV_InnerPageContent"></div>