@{
    ViewBag.Title = "EmployeeHome";
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
}

<input type="hidden" id="System_Logged_UserName" value="@Session["UserName"]" />

<div id="DIV_InnerPageContent"></div>